@model SleekPredictionPunter.Model.Matches.Match

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Match</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClubA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClubA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClubALogoPath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClubALogoPath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClubB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClubB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClubBLogoPath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClubBLogoPath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MatchCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MatchCategory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MatchCategoryId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MatchCategoryId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SportCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SportCategory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SportCategoryId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SportCategoryId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimeofMatch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeofMatch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MatchStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MatchStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsSetAsHotPreview)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsSetAsHotPreview)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EntityStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EntityStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
