@model SleekPredictionPunter.Model.PaginationModel<SleekPredictionPunter.Model.Matches.Match>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	var sn = 1;

	int getPageIndex (int sn , int pagenumber)
	{
		var pagenum = pagenumber - 1 > 0 ? ((pagenumber - 1) * 20) + sn : sn;
		return pagenum;
	}

}

<section class="container-fluid" style="padding:10px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-panel">
                <h2 class="title"> Matches </h2>
            </div>
        </div>
    </div>
</section>


<section class="container-fluid" style="padding:10px;">
    <div class="row mt">
        <div class="col-md-12">
            <div class="content-panel" style="padding:20px">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
                        <a asp-action="Create" class="btn btn-primary">Create a Match</a>
                    </div>
                </div>
                <br />
                <div class="table-responsive">
                    <table class="table table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    S/N
                                </th>
                                <th>
                                    Club A
                                </th>
                                <th>
                                    Logo
                                </th>
                                <th>
                                    Club B
                                </th>
                                <th>
                                    Logo
                                </th>
                                <th>
                                    Match Category
                                </th>

                                <th>
                                    Match Time
                                </th>
                                <th>
                                    Status
                                </th>
                                <th title="This denotes whether a match is set as hot preview for display on the home screen">
                                    Preview
                                </th>

                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Paginated())
                            {
                                <tr>
                                    <td>
                                        @getPageIndex(sn++,Model.CurrentPage)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ClubA)

                                    </td>

                                    <td>
                                        <img src="~/TeamLogo/@(System.IO.Path.GetFileName(item.ClubALogoPath))" style="width:30px;height:30px" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ClubB)

                                    </td>

                                    <td>
                                        <img src="~/TeamLogo/@(System.IO.Path.GetFileName(item.ClubBLogoPath))" style="width:25px;height:30px" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MatchCategory)

                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.TimeofMatch)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MatchStatus)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsSetAsHotPreview)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" title="Update Match Result" asp-route-id="@item.Id" class="btn btn-primary btn-xs"><i title="Update Match Result" class="fa fa-pencil"></i></a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div style="align-items:end;">

                        <ul class="pagination" style="vertical-align:middle;">
                            @for (int i = 1; i <= Model.PageCount(); i++)
                            {
                                <li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")">
                                    <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                                </li>

                            }
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>