
@model  SleekPredictionPunter.Model.PaginationModel<BookingCode>
@*@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging*@

@{
    var sn = 1;

	int getPageIndex (int sn , int pagenumber,int count = 20)
	{
		var pagenum = pagenumber - 1 > 0 ? ((pagenumber - 1) * count) + sn : sn;
		return pagenum;
	}
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="container-fluid" style="padding:5px;">
    <div class="row">
        <div class="col-md-12">
            <div class="content-panel" style="padding:5px">
                <div class="row" style="margin-top:20px">
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
                        &nbsp; &nbsp; &nbsp;	<a asp-action="Create" class="btn btn-primary">Add Booking Code</a>
                    </div>

                </div>
                <br />

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>
                                    Betcode
                                </th>
                                <th>
                                    Bet Platform
                                </th>

                                <th>
                                   Package
                                </th>
                                <th>
                                    Date Created
                                </th>
                                <th>
                                    Entity Status
                                </th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                @foreach (var item in Model.TModel)
                                {
                                    <tr>
                                        <td>
                                            @getPageIndex(sn++, Model.CurrentPage)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BetCode)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Betplatform)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.PricingPlan)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DateCreated)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EntityStatus)
                                        </td>

                                        <td>
                                            <a asp-action="Edit" title="Update BookingCode" asp-route-id="@item.Id" class="btn btn-primary btn-xs"><i title="Update Booking Code" class="fa fa-pencil"></i></a>
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></a>
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>

                    </table>
                    <ul class="pagination" style="vertical-align:middle;">
                        @for (int i = 1; i <= Model.PageCount(); i++)
                        {
                            <li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")">
                                <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                            </li>

                        }
                    </ul>

                </div>

            </div>
        </div>
    </div>
</section>