@using Microsoft.AspNetCore.Identity
@using SleekPredictionPunter.WebApp.Areas.Identity
@using Microsoft.AspNetCore.Http
@using SleekPredictionPunter.Model.Enums
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Capable Minds">
    <meta name="keyword" content="Football, Betting Tips, Sports betting tips, Football betting tips, Betting Predictions, Sure Predictions, Footbal Predictions, Prediction Site">
    <title>Predictive Power Admin Block</title>

    <!-- Favicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

    <link href="~/AdminTheme/img/favicon.png" rel="icon">
    <link href="~/AdminTheme/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link href="~/AdminTheme/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="~/AdminTheme/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/AdminTheme/css/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="~/AdminTheme/lib/gritter/css/jquery.gritter.css" />
    <!-- Custom styles for this template -->
    <link href="~/AdminTheme/css/style.css" rel="stylesheet">
    <link href="~/AdminTheme/css/style-responsive.css" rel="stylesheet">
    <script src="~/AdminTheme/lib/chart-master/Chart.js"></script>

    <link href="~/AdminTheme/lib/advanced-datatable/css/demo_page.css" rel="stylesheet" />
    <link href="~/AdminTheme/lib/advanced-datatable/css/demo_table.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/AdminTheme/lib/advanced-datatable/css/DT_bootstrap.css" />
    <link href="~/AdminTheme/css/style.css" rel="stylesheet">
    <link href="~/AdminTheme/css/style-responsive.css" rel="stylesheet">
    <!-- =======================================================
      Template Name: Dashio
      Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
      Author: TemplateMag.com
      License: https://templatemag.com/license/
    ======================================================= -->
</head>

<body style="zoom:85%">
    <style>
        #login-details-in {
            visibility: collapse;
        }

        #main-content {
            padding: 70px 30px 50px 30px;
        }

        @@media only screen and (max-width: 600px) {
            #login-details-out {
                display: none;
            }

            #login-details-in {
                visibility: visible;
            }

            #main-content {
                padding: 50px 5px 50px 5px;
            }
        }
    </style>

    <section id="container">
        <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
        <!--header start-->

        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <a href="index.html" class="logo">
                <b>Predictive <span>Power</span></b>
            </a>
            <!--logo end-->

            <div id="login-details-out" class="top-menu" style="padding-top:10px;">
                <ul class="nav pull-right top-menu">
                    <partial name="_LoginPartial.cshtml" />
                </ul>
            </div>

        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    <p class="centered">
                        <a href="#">
                            <img src="~/AdminTheme/img/friends/fr-03.jpg" class="img-circle" width="80">
                        </a>
                    </p>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li id="login-details-in">
                            <partial name="_LoginPartial.cshtml" />
                        </li>
                    }
                    <li>
                        <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="fa fa-home"></i>
                            <span>Switch FrontEnd</span>
                        </a>
                    </li>

                    @if (SignInManager.IsSignedIn(User) && User.IsInRole(RoleEnum.SuperAdmin.ToString()))
                    {
                        <li>
                            <a class="@ViewBag.AdminIndex" href="../Admin/Index">
                                <i class="fa fa-dashboard"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a class="@ViewBag.Clubs" href="../../Clubs/Index">
                                <i class=" fa fa-soccer-ball-o"></i>
                                <span>Clubs</span>
                            </a>
                        </li>
                        <li>
                            <a class="@ViewBag.PredictionCategories" href="../../PredictionCategories/Index">
                                <i class=" fa fa-sitemap"></i>
                                <span>Prediction Categories</span>
                            </a>
                        </li>
                        <li>
                            <a class="@ViewBag.Matches" href="../../Matches/Index">
                                <i class=" fa fa-soccer-ball-o"></i>
                                <span>Matches</span>
                            </a>
                        </li>

                        <li>
                            <a class="@ViewBag.Predictions" href="../../Predictions/Index">
                                <i class=" fa fa-bar-chart-o"></i>
                                <span>Predictions</span>
                            </a>
                        </li>

                        <li>
                            <a class="@ViewBag.PlanSetup" href="../../pricingplan/listofplans">
                                <i class=" fa fa-briefcase"></i>
                                <span>Plan-Setup</span>
                            </a>
                        </li>

                        <li>
                            <a class="@ViewBag.Contact" href="../../Home/ContactIndex">
                                <i class=" fa fa-envelope"></i>
                                <span>Contact Tickets</span>
                            </a>
                        </li>
                        <li>
                            <a class="@ViewBag.WinningPlanPreviewSummaries" href="../../WinningPlanPreviewSummaries/Index">
                                <i class=" fa fa-resolving"></i>
                                <span>Set Result View</span>
                            </a>
                        </li>
                        <li>
                            <a class="@ViewBag.BetPlatform" href="../../betplatforms/index">
                                <i class=" fa fa-playstation"></i>
                                <span>Bet Platforms</span>
                            </a>
                        </li>
                        @*<li>
                <a class="@ViewBag.FeedBack" href="../../Home/FeedBackIndex">
                    <i class=" fa fa-envelope"></i>
                    <span>Feedback</span>
                </a>
            </li>*@
                    }
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole(RoleEnum.Subscriber.ToString()))
                    {
                        <li>
                            <a class="@ViewBag.UserIndex" asp-area="" asp-controller="userManagement" asp-action="PredictionResults">
                                <i class="fa fa-user"></i>
                                <span>User Details</span>
                            </a>
                        </li>
                        <li>
                            <a class="@ViewBag.AllUserLogs" asp-area="" asp-controller="userManagement" asp-action="AllUserLogs">
                                <i class="fa fa-list"></i>
                                <span>Transaction Logs</span>
                            </a>
                        </li>

                        <li>
                            <a class="@ViewBag.PredictionResults" asp-area="" asp-controller="Predictions" asp-action="PredictionResults">
                                <i class="fa fa-chain"></i>
                                <span>Prediction Results</span>
                            </a>
                        </li>

                    }
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->

        <section id="main-content">
            @RenderBody()
        </section>

        <footer class="site-footer" style="padding-top:70px; background-color:#22242a; color:white; font-size:medium;">
            <div class="text-center">
                <p>
                    &copy; Copyrights <strong>Predictive Power</strong>. All Rights Reserved
                </p>
                <div class="credits">
                    Powered By 	<a href="#">Capable Minds Group</a>
                </div>
                <a href="#" class="go-top">
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
        </footer>
    </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/AdminTheme/lib/jquery/jquery.min.js"></script>
    <script src="~/AdminTheme/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/AdminTheme/lib/jquery.scrollTo.min.js"></script>
    <script src="~/AdminTheme/ib/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="~/AdminTheme/lib/jquery.sparkline.js"></script>
    <!--common script for all pages-->
    <script src="~/AdminTheme/lib/common-scripts.js"></script>
    <script type="text/javascript" src="~/AdminTheme/lib/gritter/js/jquery.gritter.js"></script>
    <script type="text/javascript" src="~/AdminTheme/lib/gritter-conf.js"></script>
    <!--script for this page-->
    <script src="~/AdminTheme/lib/sparkline-chart.js"></script>
    <script src="~/AdminTheme/lib/zabuto_calendar.js"></script>

    <script type="text/javascript" language="javascript" src="~/AdminTheme/lib/advanced-datatable/js/jquery.js"></script>

    <script class="include" type="text/javascript" src="~/AdminTheme/lib/jquery.dcjqaccordion.2.7.js"></script>

    <script type="text/javascript" language="javascript" src="~/AdminTheme/lib/advanced-datatable/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/AdminTheme/lib/advanced-datatable/js/DT_bootstrap.js"></script>
    <!--script for this page-->


    <script type="application/javascript">
        $(document).ready(function() {
          $("#date-popover").popover({
            html: true,
            trigger: "manual"
          });
          $("#date-popover").hide();
          $("#date-popover").click(function(e) {
            $(this).hide();
          });

          $("#my-calendar").zabuto_calendar({
            action: function() {
              return myDateFunction(this.id, false);
            },
            action_nav: function() {
              return myNavFunction(this.id);
            },
            ajax: {
              url: "show_data.php?action=1",
              modal: true
            },
            legend: [{
                type: "text",
                label: "Special event",
                badge: "00"
              },
              {
                type: "block",
                label: "Regular event",
              }
            ]
          });
        });

        function myNavFunction(id) {
          $("#date-popover").hide();
          var nav = $("#" + id).data("navigation");
          var to = $("#" + id).data("to");
          console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
    </script>


    @RenderSection("Scripts", required: false)
</body>
</html>
