@model SleekPredictionPunter.Model.PaginationModel<Agent>
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int serialNumber = 1;
}

<section class="container-fluid" style="padding:10px;">
    <div class="row mt">
        <div class="col-md-12">
            <div class="content-panel" style="padding:20px">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
                       <p><h2>List Of Agents</h2></p>
                    </div>
                </div>
                <br />
                <div class="table-responsive">
                    <table class="table table-responsive table-bordered">
                        <thead>
                            <tr>
                                @*<th scope="col">S/N</th>*@
                                <th scope="col">First Name</th>
                                <th scope="col">Last name</th>
                                <th scope="col">Business Name</th>
                                <th scope="col">Email Address</th>
                                <th scope="col">Referral Code</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        @if (Model.Paginated().Any())
                        {
                            @foreach (var item in Model.Paginated())
                            {
                                <tbody>
                                    <tr>
                                        @*<th scope="row" id="serialnumber">@(serialNumber++)</th>*@
                                        <td>@item.FirstName</td>
                                        <td>@item.LastName</td>
                                        <td>@item.TenantUniqueName</td>
                                        <td>@item.Username</td>
                                        <td>@item.RefererCode</td>
                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        }
                        else
                        {
                            <p style="text-align:center">No records found</p>
                        }
                    </table>
                    <ul class="pagination" style="vertical-align:middle;">
                        @for (int i = 1; i <= Model.PageCount(); i++)
                        {
                            <li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")">
                                <a class="page-link" href="@Url.Action("GetAllAgents", new { page = i })">@i</a>
                            </li>

                        }
                    </ul>
                </div>
            </div>
        </div>
        </div>
</section>
