@model SleekPredictionPunter.WebApp.Models.DashboardViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Favicons -->
<link href="img/favicon.png" rel="icon">
<link href="img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Bootstrap core CSS -->
<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!--external css-->
<link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="lib/advanced-datatable/css/demo_page.css" rel="stylesheet" />
<link href="lib/advanced-datatable/css/demo_table.css" rel="stylesheet" />
<link rel="stylesheet" href="lib/advanced-datatable/css/DT_bootstrap.css" />
<!-- Custom styles for this template -->
<link href="css/style.css" rel="stylesheet">
<link href="css/style-responsive.css" rel="stylesheet">
<style>
    .card {
        background-color: #fff;
        border-radius: 10px;
        border: none;
        position: relative;
        margin-bottom: 30px;
        box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
    }

    .l-bg-cherry {
        background: linear-gradient(to right, #493240, #f09) !important;
        color: #fff;
    }

    .l-bg-blue-dark {
        background: linear-gradient(to right, #373b44, #4286f4) !important;
        color: #fff;
    }

    .l-bg-green-dark {
        background: linear-gradient(to right, #0a504a, #38ef7d) !important;
        color: #fff;
    }

    .l-bg-orange-dark {
        background: linear-gradient(to right, #a86008, #ffba56) !important;
        color: #fff;
    }

    .card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
        font-size: 110px;
    }

    .card .card-statistic-3 .card-icon {
        text-align: center;
        line-height: 50px;
        margin-left: 15px;
        color: #000;
        position: absolute;
        right: -5px;
        top: 20px;
        opacity: 0.1;
    }

    .l-bg-cyan {
        background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
        color: #fff;
    }

    .l-bg-green {
        background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
        color: #fff;
    }

    .l-bg-orange {
        background: linear-gradient(to right, #f9900e, #ffba56) !important;
        color: #fff;
    }

    .l-bg-cyan {
        background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
        color: #fff;
    }
</style>

@using (Html.BeginForm("Index", "Admin", FormMethod.Get, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-9 main-chart">
                <div class="row justify-content-center">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class=container-fluid text-center">
                            <h2>Monthly Statistics</h2>
                            <p>Your best option for powerful prediction and stakings...</p>
                        </div><hr />
                    </div>
                </div>
                <!--CUSTOM CHART START -->
                @*<div class="border-head">
                        <h3>@User.Identity.Name</h3>
                    </div>*@

                <!-- SERVER STATUS PANELS -->
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <div class="row justify-content-center">
                                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                                    <div class="card l-bg-cherry">
                                        <div class="card-statistic-3 p-4">
                                            <div class="card-icon card-icon-large justify-content-xl-center"><i class="fas fa-shopping-cart"></i></div>
                                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                                                <h3 class="card-title text-center">New Subscribers</h3>
                                            </div>
                                            <div class="row align-items-center col-md-6 d-flex">
                                                <div class="col-8">
                                                    <h1 class="d-flex align-items-center mb-0">
                                                        <br />
                                                        <br />
                                                        @Model.NewSubscribers
                                                    </h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                                    <div class="card l-bg-blue-dark">
                                        <div class="card-statistic-3 p-4">
                                            <div class="card-icon card-icon-large justify-content-xl-center"><i class="fas fa-users"></i></div>
                                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                                                <h3 class="card-title text-center">New Agents</h3>
                                            </div>
                                            <div class="row align-items-center col-md-6 d-flex">
                                                <div class="col-8">
                                                    <h2 class="d-flex align-items-center mb-0">
                                                        <br /><br />
                                                        @Model.NewAgents
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                                    <div class="card l-bg-green-dark">
                                        <div class="card-statistic-3 p-4">
                                            <div class="card-icon card-icon-large justify-content-xl-center"><i class="fas fa-ticket-alt"></i></div>
                                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                                                <h3 class="card-title text-center">Total Stakes</h3>
                                            </div>
                                            <div class="row align-items-center col-md-6 d-flex">
                                                <div class="col-8">
                                                    <h2 class="d-flex align-items-center mb-0">
                                                        <br /><br />
                                                        @Model.NewPredictions
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                                    <div class="card l-bg-orange-dark">
                                        <div class="card-statistic-3 p-4">
                                            <div class="card-icon card-icon-large justify-content-xl-center"><i class="fas fa-dollar-sign"></i></div>
                                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                                                <h3 class="card-title text-center">Total Revenue</h3>
                                            </div>
                                            <div class="row align-items-center col-md-6 d-flex">
                                                <div class="col-8">
                                                    <h2 class="d-flex align-items-center mb-0">
                                                        <br /><br />
                                                        N3,005,635.61
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Table section here. for all transaction for this month {can be sorted} -->

                <section id="main-content">
                    <section class="wrapper">
                        <h3><i class="fa fa-angle-right">Advanced Table Example</i> </h3>
                        <div class="row mb">
                            <!-- page start-->
                            <div class="content-panel">
                                <div class="adv-table">
                                    <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                                        <thead>
                                            <tr>
                                                <th>Rendering engine</th>
                                                <th>Browser</th>
                                                <th class="hidden-phone">Platform(s)</th>
                                                <th class="hidden-phone">Engine version</th>
                                                <th class="hidden-phone">CSS grade</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="gradeX">
                                                <td>Trident</td>
                                                <td>Internet Explorer 4.0</td>
                                                <td class="hidden-phone">Win 95+</td>
                                                <td class="center hidden-phone">4</td>
                                                <td class="center hidden-phone">X</td>
                                            </tr>
                                            <tr class="gradeC">
                                                <td>Trident</td>
                                                <td>Internet Explorer 5.0</td>
                                                <td class="hidden-phone">Win 95+</td>
                                                <td class="center hidden-phone">5</td>
                                                <td class="center hidden-phone">C</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Trident</td>
                                                <td>Internet Explorer 5.5</td>
                                                <td class="hidden-phone">Win 95+</td>
                                                <td class="center hidden-phone">5.5</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Trident</td>
                                                <td>Internet Explorer 6</td>
                                                <td class="hidden-phone">Win 98+</td>
                                                <td class="center hidden-phone">6</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Trident</td>
                                                <td>Internet Explorer 7</td>
                                                <td class="hidden-phone">Win XP SP2+</td>
                                                <td class="center hidden-phone">7</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Trident</td>
                                                <td>AOL browser (AOL desktop)</td>
                                                <td class="hidden-phone">Win XP</td>
                                                <td class="center hidden-phone">6</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Firefox 1.0</td>
                                                <td class="hidden-phone">Win 98+ / OSX.2+</td>
                                                <td class="center hidden-phone">1.7</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Firefox 1.5</td>
                                                <td class="hidden-phone">Win 98+ / OSX.2+</td>
                                                <td class="center hidden-phone">1.8</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Firefox 2.0</td>
                                                <td class="hidden-phone">Win 98+ / OSX.2+</td>
                                                <td class="center hidden-phone">1.8</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Firefox 3.0</td>
                                                <td class="hidden-phone">Win 2k+ / OSX.3+</td>
                                                <td class="center hidden-phone">1.9</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Camino 1.0</td>
                                                <td class="hidden-phone">OSX.2+</td>
                                                <td class="center hidden-phone">1.8</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Camino 1.5</td>
                                                <td class="hidden-phone">OSX.3+</td>
                                                <td class="center hidden-phone">1.8</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Netscape 7.2</td>
                                                <td class="hidden-phone">Win 95+ / Mac OS 8.6-9.2</td>
                                                <td class="center hidden-phone">1.7</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Netscape Browser 8</td>
                                                <td class="hidden-phone">Win 98SE+</td>
                                                <td class="center hidden-phone">1.7</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Netscape Navigator 9</td>
                                                <td class="hidden-phone">Win 98+ / OSX.2+</td>
                                                <td class="center hidden-phone">1.8</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Mozilla 1.0</td>
                                                <td class="hidden-phone">Win 95+ / OSX.1+</td>
                                                <td class="center hidden-phone">1</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Mozilla 1.1</td>
                                                <td class="hidden-phone">Win 95+ / OSX.1+</td>
                                                <td class="center hidden-phone">1.1</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Mozilla 1.2</td>
                                                <td class="hidden-phone">Win 95+ / OSX.1+</td>
                                                <td class="center hidden-phone">1.2</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Mozilla 1.3</td>
                                                <td class="hidden-phone">Win 95+ / OSX.1+</td>
                                                <td class="center hidden-phone">1.3</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Mozilla 1.4</td>
                                                <td class="hidden-phone">Win 95+ / OSX.1+</td>
                                                <td class="center hidden-phone">1.4</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Mozilla 1.5</td>
                                                <td class="hidden-phone">Win 95+ / OSX.1+</td>
                                                <td class="center hidden-phone">1.5</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Mozilla 1.6</td>
                                                <td class="hidden-phone">Win 95+ / OSX.1+</td>
                                                <td class="center hidden-phone">1.6</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Mozilla 1.7</td>
                                                <td class="hidden-phone">Win 98+ / OSX.1+</td>
                                                <td class="center hidden-phone">1.7</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Mozilla 1.8</td>
                                                <td class="hidden-phone">Win 98+ / OSX.1+</td>
                                                <td class="center hidden-phone">1.8</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Seamonkey 1.1</td>
                                                <td class="hidden-phone">Win 98+ / OSX.2+</td>
                                                <td class="center hidden-phone">1.8</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Epiphany 2.20</td>
                                                <td class="hidden-phone">Gnome</td>
                                                <td class="center hidden-phone">1.8</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Webkit</td>
                                                <td>Safari 1.2</td>
                                                <td class="hidden-phone">OSX.3</td>
                                                <td class="center hidden-phone">125.5</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Webkit</td>
                                                <td>Safari 1.3</td>
                                                <td class="hidden-phone">OSX.3</td>
                                                <td class="center hidden-phone">312.8</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Webkit</td>
                                                <td>Safari 2.0</td>
                                                <td class="hidden-phone">OSX.4+</td>
                                                <td class="center hidden-phone">419.3</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Webkit</td>
                                                <td>Safari 3.0</td>
                                                <td class="hidden-phone">OSX.4+</td>
                                                <td class="center hidden-phone">522.1</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Webkit</td>
                                                <td>OmniWeb 5.5</td>
                                                <td class="hidden-phone">OSX.4+</td>
                                                <td class="center hidden-phone">420</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Webkit</td>
                                                <td>iPod Touch / iPhone</td>
                                                <td class="hidden-phone">iPod</td>
                                                <td class="center hidden-phone">420.1</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Webkit</td>
                                                <td>S60</td>
                                                <td class="hidden-phone">S60</td>
                                                <td class="center hidden-phone">413</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Presto</td>
                                                <td>Opera 7.0</td>
                                                <td class="hidden-phone">Win 95+ / OSX.1+</td>
                                                <td class="center hidden-phone">-</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Presto</td>
                                                <td>Opera 7.5</td>
                                                <td class="hidden-phone">Win 95+ / OSX.2+</td>
                                                <td class="center hidden-phone">-</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Presto</td>
                                                <td>Opera 8.0</td>
                                                <td class="hidden-phone">Win 95+ / OSX.2+</td>
                                                <td class="center hidden-phone">-</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Presto</td>
                                                <td>Opera 8.5</td>
                                                <td class="hidden-phone">Win 95+ / OSX.2+</td>
                                                <td class="center hidden-phone">-</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Presto</td>
                                                <td>Opera 9.0</td>
                                                <td class="hidden-phone">Win 95+ / OSX.3+</td>
                                                <td class="center hidden-phone">-</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Presto</td>
                                                <td>Opera 9.2</td>
                                                <td class="hidden-phone">Win 88+ / OSX.3+</td>
                                                <td class="center hidden-phone">-</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Presto</td>
                                                <td>Opera 9.5</td>
                                                <td class="hidden-phone">Win 88+ / OSX.3+</td>
                                                <td class="center hidden-phone">-</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Presto</td>
                                                <td>Opera for Wii</td>
                                                <td class="hidden-phone">Wii</td>
                                                <td class="center hidden-phone">-</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Presto</td>
                                                <td>Nokia N800</td>
                                                <td class="hidden-phone">N800</td>
                                                <td class="center hidden-phone">-</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Presto</td>
                                                <td>Nintendo DS browser</td>
                                                <td class="hidden-phone">Nintendo DS</td>
                                                <td class="center hidden-phone">8.5</td>
                                                <td class="center hidden-phone">C/A<sup>1</sup></td>
                                            </tr>
                                            <tr class="gradeC">
                                                <td>KHTML</td>
                                                <td>Konqureror 3.1</td>
                                                <td class="hidden-phone">KDE 3.1</td>
                                                <td class="center hidden-phone">3.1</td>
                                                <td class="center hidden-phone">C</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>KHTML</td>
                                                <td>Konqureror 3.3</td>
                                                <td class="hidden-phone">KDE 3.3</td>
                                                <td class="center hidden-phone">3.3</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>KHTML</td>
                                                <td>Konqureror 3.5</td>
                                                <td class="hidden-phone">KDE 3.5</td>
                                                <td class="center hidden-phone">3.5</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeX">
                                                <td>Tasman</td>
                                                <td>Internet Explorer 4.5</td>
                                                <td class="hidden-phone">Mac OS 8-9</td>
                                                <td class="center hidden-phone">-</td>
                                                <td class="center hidden-phone">X</td>
                                            </tr>
                                            <tr class="gradeC">
                                                <td>Tasman</td>
                                                <td>Internet Explorer 5.1</td>
                                                <td class="hidden-phone">Mac OS 7.6-9</td>
                                                <td class="center hidden-phone">1</td>
                                                <td class="center hidden-phone">C</td>
                                            </tr>
                                            <tr class="gradeC">
                                                <td>Tasman</td>
                                                <td>Internet Explorer 5.2</td>
                                                <td class="hidden-phone">Mac OS 8-X</td>
                                                <td class="center hidden-phone">1</td>
                                                <td class="center hidden-phone">C</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Misc</td>
                                                <td>NetFront 3.1</td>
                                                <td>Embedded devices</td>
                                                <td class="center">-</td>
                                                <td class="center">C</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Misc</td>
                                                <td>NetFront 3.4</td>
                                                <td class="hidden-phone">Embedded devices</td>
                                                <td class="center hidden-phone">-</td>
                                                <td class="center hidden-phone">A</td>
                                            </tr>
                                            <tr class="gradeX">
                                                <td>Misc</td>
                                                <td>Dillo 0.8</td>
                                                <td class="hidden-phone">Embedded devices</td>
                                                <td class="center hidden-phone">-</td>
                                                <td class="center hidden-phone">X</td>
                                            </tr>
                                            <tr class="gradeX">
                                                <td>Misc</td>
                                                <td>Links</td>
                                                <td class="hidden-phone">Text only</td>
                                                <td class="center hidden-phone">-</td>
                                                <td class="center hidden-phone">X</td>
                                            </tr>
                                            <tr class="gradeX">
                                                <td>Misc</td>
                                                <td>Lynx</td>
                                                <td class="hidden-phone">Text only</td>
                                                <td class="center hidden-phone">-</td>
                                                <td class="center hidden-phone">X</td>
                                            </tr>
                                            <tr class="gradeC">
                                                <td>Misc</td>
                                                <td>IE Mobile</td>
                                                <td class="hidden-phone">Windows Mobile 6</td>
                                                <td class="center hidden-phone">-</td>
                                                <td class="center hidden-phone">C</td>
                                            </tr>
                                            <tr class="gradeC">
                                                <td>Misc</td>
                                                <td>PSP browser</td>
                                                <td class="hidden-phone">PSP</td>
                                                <td class="center hidden-phone">-</td>
                                                <td class="center hidden-phone">C</td>
                                            </tr>
                                            <tr class="gradeU">
                                                <td>Other browsers</td>
                                                <td>All others</td>
                                                <td class="hidden-phone">-</td>
                                                <td class="center hidden-phone">-</td>
                                                <td class="center hidden-phone">U</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- page end-->
                        </div>
                        <!-- /row -->
                    </section>
                    <!-- /wrapper -->
                </section>


                <!-- Table section here. for newly registered agents {can be sorted}-->
            </div>
            <!-- /col-lg-9 END SECTION MIDDLE -->
            <!-- **********************************************************************************************************************************************************
            RIGHT SIDEBAR CONTENT
            *********************************************************************************************************************************************************** -->
            <div class="col-lg-3 ds">
                <!--COMPLETED ACTIONS DONUTS CHART-->
                <div class="donut-main">
                    <h4>COMPLETED ACTIONS & PROGRESS</h4>
                    <canvas id="newchart" height="130" width="130"></canvas>
                    <script>
                        var doughnutData = [{
                            value: 70,
                            color: "#4ECDC4"
                        },
                        {
                            value: 30,
                            color: "#fdfdfd"
                        }
                        ];
                        var myDoughnut = new Chart(document.getElementById("newchart").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
                <!--NEW EARNING STATS -->
                <div class="panel terques-chart">
                    <div class="panel-body">
                        <div class="chart">
                            <div class="centered">
                                <span>TODAY EARNINGS</span>
                                <strong>$ 890,00 | 15%</strong>
                            </div>
                            <br>
                            <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="[200,135,667,333,526,996,564,123,890,564,455]"></div>
                        </div>
                    </div>
                </div>
                <!--new earning end-->
                <!-- RECENT ACTIVITIES SECTION -->
                <!--<h4 class="centered mt">RECENT ACTIVITY</h4>-->
                <!-- First Activity -->
                <!--<div class="desc">
                    <div class="thumb">
                        <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                    </div>
                    <div class="details">
                        <p>
                            <muted>Just Now</muted>
                            <br />
                            <a href="#">Paul Rudd</a> purchased an item.<br />
                        </p>
                    </div>
                </div>-->
                <!-- Second Activity -->
                <!--<div class="desc">
                    <div class="thumb">
                        <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                    </div>
                    <div class="details">
                        <p>
                            <muted>2 Minutes Ago</muted>
                            <br />
                            <a href="#">James Brown</a> subscribed to your newsletter.<br />
                        </p>
                    </div>
                </div>-->
                <!-- Third Activity -->
                <!--<div class="desc">
                    <div class="thumb">
                        <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                    </div>
                    <div class="details">
                        <p>
                            <muted>3 Hours Ago</muted>
                            <br />
                            <a href="#">Diana Kennedy</a> purchased a year subscription.<br />
                        </p>
                    </div>
                </div>-->
                <!-- Fourth Activity -->
                <!--<div class="desc">
                    <div class="thumb">
                        <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                    </div>
                    <div class="details">
                        <p>
                            <muted>7 Hours Ago</muted>
                            <br />
                            <a href="#">Brando Page</a> purchased a year subscription.<br />
                        </p>
                    </div>
                </div>-->
                <!-- USERS ONLINE SECTION -->
                <!--<h4 class="centered mt">TEAM MEMBERS ONLINE</h4>-->
                <!-- First Member -->
                <!--<div class="desc">
                    <div class="thumb">
                        <img class="img-circle" src="img/ui-divya.jpg" width="35px" height="35px" align="">
                    </div>
                    <div class="details">
                        <p>
                            <a href="#">DIVYA MANIAN</a><br />
                            <muted>Available</muted>
                        </p>
                    </div>
                </div>-->
                <!-- Second Member -->
                <!--<div class="desc">
                    <div class="thumb">
                        <img class="img-circle" src="img/ui-sherman.jpg" width="35px" height="35px" align="">
                    </div>
                    <div class="details">
                        <p>
                            <a href="#">DJ SHERMAN</a><br />
                            <muted>I am Busy</muted>
                        </p>
                    </div>
                </div>-->
                <!-- Third Member -->
                <!--<div class="desc">
                    <div class="thumb">
                        <img class="img-circle" src="img/ui-danro.jpg" width="35px" height="35px" align="">
                    </div>
                    <div class="details">
                        <p>
                            <a href="#">DAN ROGERS</a><br />
                            <muted>Available</muted>
                        </p>
                    </div>
                </div>-->
                <!-- Fourth Member -->
                <!--<div class="desc">
                    <div class="thumb">
                        <img class="img-circle" src="img/ui-zac.jpg" width="35px" height="35px" align="">
                    </div>
                    <div class="details">
                        <p>
                            <a href="#">Zac Sniders</a><br />
                            <muted>Available</muted>
                        </p>
                    </div>
                </div>-->
                <!-- CALENDAR-->
                <!--<div id="calendar" class="mb">
                    <div class="panel green-panel no-margin">
                        <div class="panel-body">
                            <div id="date-popover" class="popover top" style="cursor: pointer; disadding: block; margin-left: 33%; margin-top: -50px; width: 175px;">
                                <div class="arrow"></div>
                                <h3 class="popover-title" style="disadding: none;"></h3>
                                <div id="date-popover-content" class="popover-content"></div>
                            </div>
                            <div id="my-calendar"></div>
                        </div>
                    </div>
                </div>-->
                <!-- / calendar -->
            </div>
            <!-- /col-lg-3 -->
        </div>
        <!-- /row -->
    </section>
}

@*table script starts here*@
<script type="text/javascript">
    /* Formating function for row details */
    function fnFormatDetails(oTable, nTr) {
        var aData = oTable.fnGetData(nTr);
        var sOut = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">';
        sOut += '<tr><td>Rendering engine:</td><td>' + aData[1] + ' ' + aData[4] + '</td></tr>';
        sOut += '<tr><td>Link to source:</td><td>Could provide a link here</td></tr>';
        sOut += '<tr><td>Extra info:</td><td>And any further details here (images etc)</td></tr>';
        sOut += '</table>';

        return sOut;
    }

    $(document).ready(function () {
        /*
         * Insert a 'details' column to the table
         */
        var nCloneTh = document.createElement('th');
        var nCloneTd = document.createElement('td');
        nCloneTd.innerHTML = '<img src="~/AdminTheme/lib/advanced-datatable/images/details_open.png">';
        nCloneTd.className = "center";

        $('#hidden-table-info thead tr').each(function () {
            this.insertBefore(nCloneTh, this.childNodes[0]);
        });

        $('#hidden-table-info tbody tr').each(function () {
            this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[0]);
        });

        /*
         * Initialse DataTables, with no sorting on the 'details' column
         */
        var oTable = $('#hidden-table-info').dataTable({
            "aoColumnDefs": [{
                "bSortable": false,
                "aTargets": [0]
            }],
            "aaSorting": [
                [1, 'asc']
            ]
        });

        /* Add event listener for opening and closing details
         * Note that the indicator for showing which row is open is not controlled by DataTables,
         * rather it is done here
         */
        $('#hidden-table-info tbody td img').live('click', function () {
            var nTr = $(this).parents('tr')[0];
            if (oTable.fnIsOpen(nTr)) {
                /* This row is already open - close it */
                this.src = "~/AdminTheme/lib/advanced-datatable/media/images/details_open.png";
                oTable.fnClose(nTr);
            } else {
                /* Open this row */
                this.src = "~/AdminTheme/lib/advanced-datatable/images/details_close.png";
                oTable.fnOpen(nTr, fnFormatDetails(oTable, nTr), 'details');
            }
        });
    });
</script>
