@model IEnumerable<SleekPredictionPunter.Model.Prediction>
@inject SleekPredictionPunter.AppService.Clubs.IClubService _clubService
@inject SleekPredictionPunter.AppService.MatchCategories.IMatchCategoryService _matchCategory
@inject SleekPredictionPunter.AppService.BetCategories.IBetCategoryService _betcategory

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
    int sn = 1;
}

<section class="container-fluid" style="padding:10px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-panel">
                <h2 class="title"> Prediction Result </h2>
                @if (TempData["TempMessage"] != null)
                {
                    <h3 class="text-info">
                        @TempData["TempMessage"]
                    </h3>
                }
            </div>
        </div>
    </div>
</section>

<section class="container-fluid" style="padding:5px;">
    <div class="row">
        <div class="col-md-12">
            <div class="content-panel" style="padding:5px">
                <div class="row" style="margin-top:20px">
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
                        &nbsp; &nbsp; &nbsp;	<a asp-action="Create" class="btn btn-primary">Add Prediction</a>
                    </div>

                </div>
                <br />
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                S/N
                            </th>

                            <th>
                                Club A
                            </th>
                            <th>
                                Logo
                            </th>
                            <th>

                            </th>
                            <th>
                                Club B
                            </th>
                            <th>
                                Logo
                            </th>
                            <th>
                                Prediction Category
                            </th>

                            <th>
                                Match Category
                            </th>
                            <th>
                                Time
                            </th>
                            <th>
                                Result
                            </th>
                            <th>
                                Bet Category
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            //var getCluALogo = await _clubService.GetByName(item.ClubA);
                            //var getCluBLogo = await _clubService.GetByName(item.ClubB);
                            //                     var matchType = await _matchCategory.GetById(item.MatchCategoryId);

                            var bet = await _betcategory.GetById(item.BetCategoryId);
                        <tr>
                            <td>
                                @(sn++)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.ClubA)
                            </td>
                            <td>
                                <img src="~/TeamLogo/@(System.IO.Path.GetFileName(item.ClubALogoPath))" style="width:30px;height:30px" />
                            </td>
                            <td>
                                VS
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClubB)
                            </td>
                            <td>
                                <img src="~/TeamLogo/@(System.IO.Path.GetFileName(item?.ClubBLogoPath))" style="width:30px;height:30px" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BeCategory)
                            </td>

                            <td>
                                @item?.MatchCategory
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.TimeofFixture)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PredictionResult)
                            </td>
                            <td>
                                @bet.BetCategoryName
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-xs"><i class="fa fc-content"></i></a>
                                @*<a asp-action="Edit" title="Update Result" asp-route-id="@item.Id" class="btn btn-primary btn-xs"><i title="Update Prediction Result" class="fa fa-pencil"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></a>*@
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>