@model SleekPredictionPunter.Model.Prediction

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Prediction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PredictorUserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PredictorUserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClubA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClubA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClubAOdd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClubAOdd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClubALogoPath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClubALogoPath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClubB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClubB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClubBOdd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClubBOdd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClubBLogoPath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClubBLogoPath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PredictionValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PredictionValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimeofFixture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeofFixture)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Predictor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Predictor.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomCategory.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MatchCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MatchCategory.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PredictionCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PredictionCategory.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PricingPlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PricingPlan.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClubAScore)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClubAScore)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClubBScore)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClubBScore)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EntityStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EntityStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
