@using SleekPredictionPunter.AppService.BookingCodes.Dto
@using SleekPredictionPunter.GeneralUtilsAndServices

@{
	var sn = 1;
	var sn2 = 1;
}

<style>
	.mobile-top-view {
		visibility: collapse;
	}
	#betcodes-mobile-view{
		visibility:collapse;
	}

	@@media only screen and (max-width: 600px) {
		.mobile-top-view {
			visibility: visible;
		}

		#desktop-view {
			display: none;

		}
		#betcodes-web-view{
			display: none;
		}
	}
</style>

<div class="breadcrumb-bettix result-page">
	<div class="container">
		<div class="row">
			<div class="col-xl-7 col-lg-7">
				<div class="breadcrumb-content">
					<h2>&nbsp;</h2>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="result">
	<div class="container">
		<div class="result-sheet-cover">
			<div class="result-sheet">
				<h4 class="result-title">Top Latest Free Predictions</h4>
				<div class="table-responsive">
					<table class="table mobile-top-view">
						<thead>
							<tr>
								<th>S/N</th>
								<th scope="col">Date</th>
								<th scope="col">Match</th>
								<th scope="col">Tip</th>
							</tr>
						</thead>
						<tbody id="mobile-body">
							@if (ViewBag.FreeTips != null)
							{
								foreach (var prediction in ViewBag.FreeTips as IEnumerable<Prediction>)
								{
									<tr id="non-mobile-view">
										<td>@(sn++)</td>
										<td class="date">@prediction.TimeofFixture.Date</td>
										<td class="team-name">
											<span id="cluba" class="clubname"> @prediction.ClubA </span>
											<span class="text-danger"> vs</span> <br />
											<span id="clubb" class="clubname"> @prediction.ClubB </span>
										</td>
										<td class="score text-success">@prediction.PredictionValue</td>
									</tr>
								}
							}

						</tbody>
					</table>

					<div class="mobile-top-view">
						<span style="font-weight:bold">BETTING CODE</span>
						@foreach (var item in ViewBag.BettingCodes as IEnumerable<BookingCodeDto>)
						{
							<div class="row">
								<div>
									<span class="text-success">@item.Betplatform</span> :
								</div>
								<div>
									<span class="text-danger">@item.BetCode</span>
								</div>
							</div>
							
						}
					</div>
					
					<table id="desktop-view" class="table">
						<thead>
							<tr>
								<th>S/N</th>
								<th scope="col"></th>
								<th scope="col">Date & Time</th>
								<th scope="col">ClubA</th>
								<th scope="col"></th>
								<th scope="col">ClubB</th>
								<th scope="col">Tip</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							@if (ViewBag.FreeTips != null)
							{
								foreach (var prediction in ViewBag.FreeTips as IEnumerable<Prediction>)
								{

									<tr id="non-mobile-view">
										<td>@(sn2++)</td>
										<th scope="row">
											<span class="icon">
												<i class="flaticon-football"></i>
											</span>
										</th>
										<td class="date">@prediction.DateCreated</td>
										<td class="team-name">
											<span id="cluba" class="clubname"> @prediction.ClubA </span> &nbsp; &nbsp;
											<img id="clubaimg" height="25" width="25" class="clubimg" src="~/TeamLogo/@(System.IO.Path.GetFileName(prediction.ClubALogoPath))" />

										</td>
										<td><span class="versace">vs</span></td>
										<td>
											<span id="clubb" class="clubname"> @prediction.ClubB </span> &nbsp; &nbsp;
											<img id="clubbimg" class="clubimg" height="25" width="25" src="~/TeamLogo/@(System.IO.Path.GetFileName(prediction.ClubBLogoPath))" />
										</td>
										<td class="score text-success">@prediction.PredictionValue</td>
										<td>
											<a>
												<span class="view-icon">
													<i class="fas fa-ellipsis-v"></i>
												</span>
											</a>
										</td>
									</tr>
								}
							}

							@if (ViewBag.BettingCodes != null)
							{

								<tr id="betcodes-web-view">
									<td><strong>BETTING CODE</strong>  </td>
									@foreach (var item in ViewBag.BettingCodes as IEnumerable<BookingCodeDto>)
									{
										<td class="score"><span class="text-success">@item.Betplatform</span> : <span class="text-danger">@item.BetCode</span> </td>
										
									}
									
								</tr>
							}
						</tbody>
					</table>
					<br/>
					
				</div>

			</div>
		</div>
	</div>
</div>