@model IEnumerable<SleekPredictionPunter.Model.Matches.Match>
@using SleekPredictionPunter.Model.Matches
@inject SleekPredictionPunter.AppService.Matches.IMatchService _matchService
@inject SleekPredictionPunter.AppService.Clubs.IClubService _clubService
@{

	DateTime yesterday = DateTime.Today.AddDays(-1);

	var tomorrow = DateTime.Today.AddDays(1);

	Func<Match, DateTime> orderByDescFunc = (x => x.TimeofMatch);
	Func<Match, bool> wherefunc = (x =>
	(x.ReturnStatus == MatchStatusEnum.Upcoming || x.ReturnStatus == MatchStatusEnum.Playing)
	 && (x.TimeofMatch >= yesterday) && (x.TimeofMatch <= tomorrow)
	);



	var matches = await _matchService.GetMatches(whereFunc: wherefunc, orderByDescFunc: orderByDescFunc, startIndex: 0, count: 6);
	var finalmatches = matches.ToList();
	var topMatch = matches.FirstOrDefault(x => x.IsSetAsHotPreview);
	//var checkremove = matches.ToList().RemoveAll(x => x.Id == topMatch.Id);
	IEnumerable<Match> finalREmovetREsult =null;
	if(topMatch != null)
	{
		finalREmovetREsult = finalmatches.Where(x => x.Id != topMatch.Id);
	}

	dynamic GetDayRemaining(DateTime dateTime)
	{
		var diff = dateTime.Day - DateTime.Now.Day;
		return diff;
	}
	dynamic GetHourRemaining(DateTime dateTime)
	{
		var diff = dateTime.Hour - DateTime.Now.Hour;
		return diff;
	}
	dynamic GetMinutesRemaing(DateTime dateTime)
	{
		var diff = dateTime.Minute - DateTime.Now.Minute;
		return diff;
	}
	dynamic GetsecondsRemainig(DateTime dateTime)
	{
        var diff = dateTime.Second - DateTime.Now.Second;
        return diff;
	}
}

<!-- upcoming match begin -->
<div class="upcoming-match" id="upcoming_match">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-8">
                <div class="section-title">
                    <h2>Upcoming Match</h2>
                    <p>
                        Predictive Power shows realtime upcoming matches info with predictions relating to the upcoming match(es). Explore!!
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            @if (topMatch != null)
			{
            <div class="col-xl-6 col-lg-6">
                <div class="single-match">
                    <div class="part-head" style="background-color:black; background:none">
                        <h5 class="match-title"> @topMatch?.MatchCategory</h5>
                        <span class="match-venue">Clash of Titans</span>
                    </div>
                    <div class="part-team">
                        <div class="single-team">
                            <div class="logo">
                                <img src="~/TeamLogo/@(System.IO.Path.GetFileName(topMatch?.ClubALogoPath))" alt="@topMatch?.ClubA">
                            </div>
                            <span class="team-name">@topMatch?.ClubA</span>
                        </div>
                        <div class="match-details">
                            <div class="match-time">
                                <span class="date">@topMatch?.TimeofMatch.Date</span>
                                <span class="time">@topMatch?.TimeofMatch.TimeOfDay</span>
                            </div>
                            <span class="versase">vs</span>
                            <div class="buttons">
                                <a href="#" class="buy-ticket bet-btn bet-btn-dark-light">View Prediction</a>
                            </div>
                        </div>
                        <div class="single-team">
                            <div class="logo">
                                <img src="~/TeamLogo/@(System.IO.Path.GetFileName(topMatch?.ClubBLogoPath))" alt="@topMatch?.ClubB">
                            </div>
                            <span class="team-name">@topMatch?.ClubB</span>
                        </div>
                    </div>
                    <span class="to-begin-time">
                        Starting on
                    </span>
                    <div class="part-timer timer" data-date="@topMatch?.TimeofMatch.ToUniversalTime()">
                        <div class="single-time">
                            <span class="number day">@GetDayRemaining(topMatch.TimeofMatch)</span>
                            <span class="title">Days</span>
                        </div>
                        <div class="single-time">
                            <span class="number hour">@GetHourRemaining(topMatch.TimeofMatch)</span>
                            <span class="title">Hours</span>
                        </div>
                        <div class="single-time">
                            <span class="number minute">@GetMinutesRemaing(topMatch.TimeofMatch)</span>
                            <span class="title">Minutes</span>
                        </div>
                        <div class="single-time">
                            <span class="number second">@GetsecondsRemainig(topMatch.TimeofMatch)</span>
                            <span class="title">Seconds</span>
                        </div>
                    </div>
                </div>
            </div>
            }

            @if (finalREmovetREsult != null)
            {
            <div class="col-xl-6 col-lg-6">
                <div class="upcoming-match-list">

                    @if (finalREmovetREsult != null)
                    {
                        foreach (var item in finalREmovetREsult)
                        {
                               <div class="single-upcoming-match">
                                    <div class="single-team">
                                        <div class="part-logo">
                                            <img src="~/TeamLogo/@(System.IO.Path.GetFileName(item?.ClubALogoPath))" alt="Club A">
                                        </div>
                                        <div class="part-text">
                                            <span class="team-name">
                                                @item.ClubA
                                            </span>
                                        </div>
                                    </div>
                                    <span class="versase">vs</span>
                                    <div class="single-team">
                                        <div class="part-text">
                                            <span class="team-name">
                                                @item.ClubB
                                            </span>
                                        </div>
                                        <div class="part-logo">
                                            <img src="~/TeamLogo/@(System.IO.Path.GetFileName(item?.ClubBLogoPath))" alt="Club B">
                                        </div>
                                    </div>
                             </div>
                        }

                    }
                </div>
            </div>
            }
        </div>
        <div class="text-center">
            <a href="../../predictions/FrontEndIndex" class="vew-more-news bet-btn bet-btn-dark-light">
                <i class="fas fa-redo"></i> See Match Predictions
            </a>
        </div>
        <span class="text-special">
            <b>Note:</b>  The timing of each match will depend on the weather conditions.
        </span>
    </div>
</div>
<!-- upcoming match end -->
<!-- Generated List-->
