@inject SleekPredictionPunter.AppService.Clubs.IClubService _clubService
@{
    ViewData["Title"] = "Home Page";
    int sn = 1;
}

@* This is used to conditionally show the breadcum banner To see how to view and hide this.
    goto to the controller index action method*@
@if (ViewBag.ShowBreadCum)
{
    <!-- breadcrumb begin -->
    <div class="breadcrumb-bettix">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-7">
                    <div class="breadcrumb-content">

                        @*<ul>
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    Match Statics
                                </li>
                            </ul>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->
}

<!-- about begin -->
@*<div class="about">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-xl-8 col-lg-8">
                    <div style="background-color:transparent" class="part-img">
                        <img src="~/FrontendTheme/assets/img/home-power.jpg" alt="">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 d-xl-flex d-lg-flex d-block align-items-center">
                    <div>
                        <div class="part-text">
                            <h2>Introducing Our Words</h2>
                            <p>The bigger the sports event the more we feed you with powerful predictions, excitement and media attention on the action. And the more betting markets we have available here at Predictive Power to turn your choices and options into winning bets.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>*@

<!-- about end -->
<!-- cta begin -->
<div class="line">
    <hr />
</div>
<!-- cta end -->
<!-- feature begin -->
<div class="feature" id="feature_section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-8">
                <div class="section-title">
                    <h2>Predictive Power Features</h2>
                    <p>Predictive Power shows real time odds for betting with the higher stakes you can get. We place your bets in various bMakers to do highest liquidity</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-feature">
                    <div class="part-icon">
                        <img src="~/FrontendTheme/assets/img/svg/music-and-multimedia.svg" alt="Quality Predictions">
                    </div>
                    <div class="part-text">
                        <h3 class="title">Quality Predictions</h3>
                        <p>Predictive Power has a quality in-play Prediction service with a good percentage of correct result on predictions.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-feature">
                    <div class="part-icon">
                        <img src="~/FrontendTheme/assets/img/svg/browser.svg" alt="Prediction Categories">
                    </div>
                    <div class="part-text">
                        <h3 class="title">Prediction Categories</h3>
                        <p>
                            Predictive Power has punters in different categories and variations,
                            giving you the privilege to browse and make take choiced prediction from different category.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-feature">
                    <div class="part-icon">
                        <img src="~/FrontendTheme/assets/img/svg/usability.svg" alt="Clean Usability">
                    </div>
                    <div class="part-text">
                        <h3 class="title">Clean Usability</h3>
                        <p> For one: predictive holds a record of good user and friendly navigation of our platform. Simplicity and effectiveness </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- feature end -->
<!-- breadcrumb begin -->
<div class="breadcrumb-bettix result-page">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7">
                <div class="breadcrumb-content">
                    <h2>Predictions</h2>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- result begin -->
<div class="result">
    <div class="container">
        @*<div class="filter-menu">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="form-group">
                            <select class="form-control">
                                <option>Last 7 days</option>
                                <option>Last 24 hours</option>
                                <option>Last 12 hours</option>
                                <option>Last 6 hours</option>
                                <option>Last 1 hours</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="form-group">
                            <select class="form-control">
                                <option>All Sports</option>
                                <option>Football</option>
                                <option>Ice Hocky</option>
                                <option>Badminton</option>
                                <option>Baseball</option>
                                <option>Basketball</option>
                                <option>Tennis</option>
                                <option>Cycling</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="form-group">
                            <select class="form-control">
                                <option>Bangla Cricket League</option>
                                <option>Indian Football Federation</option>
                                <option>English premier league</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>*@

        <div class="result-sheet-cover">
            <div class="result-sheet">
                <h4 class="result-title">Latest Predictions</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th scope="col"></th>
                            <th scope="col">Date & Time</th>
                            <th scope="col">Match</th>
                            <th scope="col">Prediction</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var prediction in ViewBag.Predictions)
                        {
                            var getCluALogo = await _clubService.GetByName(prediction.ClubA);
                            var getCluBLogo = await _clubService.GetByName(prediction.ClubB);
                            <tr>
                                <td>@(sn++)</td>
                                <th scope="row">
                                    <span class="icon">
                                        <i class="flaticon-football"></i>
                                    </span>
                                </th>
                                <td class="date">@prediction.DateCreated</td>
                                <td class="team-name">
                                    <img src="~/TeamLogo/@(System.IO.Path.GetFileName(getCluALogo.ClubLogRelativePath))" style="width:30px;height:30px" />
                                    @prediction.ClubA <span class="versace">vs</span> @prediction.ClubB <img src="~/TeamLogo/@(System.IO.Path.GetFileName(getCluBLogo.ClubLogRelativePath))" style="width:30px;height:30px" />
                                </td>
                                <td class="score">@prediction.PredictionValue</td>
                                <td>
                                    <a>
                                        <span class="view-icon">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<!-- result end -->
